<header class="sidebar-toggled">
    <div class="navbar-fixed">

        <nav>
            <div class="nav-wrapper">
                <ul class="header-inner">
                    <li id="menu-trigger" data-trigger="#sidebar">
                        <i class="fa fa-align-justify"></i>
                    </li>
                    <li>
                        <a href="/main" class="brand-logo"><img src="img/logo.png"/></a>
                    </li>
                </ul>



            </div>
        </nav>
    </div>
    <div id="domMessage" style="display:none;">
        <h3>Processando&nbsp;<img src="img/loading.gif"/></h3>
    </div>
</header>
