<aside id="sidebar" data-ng-show="user">
	<div class="sidebar-inner">
		<div class="si-inner">
			<ul class="main-menu">
				<li class="active" id="home-menu"><a href="/main"><i class="fa fa-home"></i> Início</a></li>


				<li class="sub-menu">
					<a href=""><i class="fa fa-check-circle-o"></i>Usuários</a>
					<ul>
						<li>
							<a href="/users/search" class="menu-link">Cadastrados</a>
						</li>
						<li>
							<a href="/users/new" class="menu-link">Novo</a>
						</li>
					</ul>
				</li>

			</ul>
		</div>
	</div>
</aside>